<style>
	footer a {
		color: white;
		text-decoration: underline;
	}

	footer a:hover {
		color: white;
	}
	
	footer p {
		margin-bottom: 10px;
	}
</style>

<footer>
  <div class="container-fluid">
  	<hr>
    <div class="row text-center" style="padding-top: 50px; padding-bottom: 50px;">
      <p style="margin-bottom: 10px;"><span class="glyphicon glyphicon-copyright-mark" ></span>&nbsp;2017 summer-mvc developer, All rights reserved</p>
      <p style="margin-bottom: 10px;">summer-mvc v2.0.0  Created and Maintained by <a href="mailto:inodient@gmail.com">Ino Kang [Changho Kang]</a>.</p>
      <p style="margin-bottom: 10px;">Based On <a href="https://nodejs.org/ko/">Nodejs</a>, <a href="http://getbootstrap.com/">Bootstrap</a> and <a href="http://jquery.com/">jQuery</a>.<br>Icons are designed by <a href="inodient@gmail.com">Ino Kang [Changho Kang]</a>.</p>
      <p style="margin-bottom: 10px;">summer-mvc distributed under the <a href="https://github.com/inodient/summer-mvc/blob/master/LICENSE">MIT</a> license.</p>
      <p style="margin-bottom: 10px;"><a href="https://github.com/inodient/summer-mvc.git">GitHub Project</a></p>
    </div>
  </div>
</footer>
