<footer>
  <div class="container-fluid">
    <div class="row">
      <hr>
      <div style="text-align:right" class="col-lg-3 col-md-3 col-sm-3">
        <img src="/summer_mvc_logo.png"/>
      </div>
      <div style="padding-left:50px; padding-top:15px;" class="col-lg-9 col-md-9 col-sm-9">
        <p><span class="glyphicon glyphicon-copyright-mark" ></span>&nbsp;2017 <b>summer-mvc developer</b>, All rights reserved</p>
        <p>Well Formed IT v1.0.0 ∙ <br class="mobile-show">Created and Maintained by <a href="mailto:inodient@gmail.com">Ino Kang [Changho Kang]</a>.</p>
        <p>Based On <a href="https://nodejs.org/ko/">Nodejs</a>, <a href="http://getbootstrap.com/">Bootstrap</a> and <a href="http://jquery.com/">jQuery</a>.<br>Icons are designed by <a href="inodient@gmail.com">Ino Kang [Changho Kang]</a>.</p>
        <p>summer-mvc distributed under the <a href="https://github.com/inodient/summer-mvc/blob/master/LICENSE">MIT</a> license.</p>
        <p><a href="https://github.com/inodient/summer-mvc.git">GitHub Project</a></p>
      </div>
    </div>
  </div>
</footer>
