<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-size: 30px; font-family: 'Nanum Brush Script', serif;">
  <audio style="display:none" controls autoplay loop>
  <source src="angel.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  놀랬으려나. 난 너가 보고 있다는걸 알까 모를까.
  아무래도 자리를 피하는게 좋을까? 계속 지켜봐 주는게 좋을까?
  여러 생각들이 머리속에 스쳐간다.

  오랜만이야. 아니지, 오랜만이었어.

</body>
</html>
