/* Menu Bar start */
@media (max-width: 1000px) {
	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .mobile-navbar-brand {
   	    position: absolute;
	    left: 50%;
	    margin-left: -60px;
	    padding: 0;
	    margin-top: 13px;
	    height: 34px;
    }

    #download {
        position: absolute;
	    padding: 0;
	    top: 8px;
	    right: 8px;
	    display: block;
	    height:34px;
	    margin-right: 10px;
	    text-align: center;
	    text-decoration: none;
	    color: #9d9d9d;
    }

    .logo {
    	margin-top: 8px;
    }

    .logo:hover {
    	color: white;
    }
}
/* Menu Bar End */







/* Responsive - Start */
@media (max-width: 1000px) {
    .mobile-show {
    	display: block;
    }

    .mobile-hidden {
    	display: none;
    }
}

@media (min-width: 1001px) {
	.mobile-show {
		display: none;
	}

	.mobile-hidden {
		display: block;
	}
}
/* Responsive - End */




/* Alignment - Start */
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


/* Alignment - End */




/* Elements - Start */
.btn_important {
    display: inline-block;
    margin: 18px 0 41px;
    padding: 10px 20px;

    background: #333;
    border: 1px solid #333;
    color: #ffffff;

    font-size: 18px;
    border-radius: 1px;
}

.btn_important:hover {
    /*background: #525252;*/
	background: black;
    border: 1px solid #525252;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

.doc-content p {
  margin-bottom: 30px;
  line-height: 1.8em;
  color: #646464;
}

.doc-content hr {
  margin-top: 0px;
}

.doc-content table {
  color: #454545;
}

.doc-content .doc-notice {
  border-left: 5px solid #a94442;
}


.doc-content .doc-file {
  color: #2b4d6b;
  background-color: #ebf2f8;
  font-weight: 600;
}

.doc-content .doc-emphasis {
  font-weight: 600;
}

.doc-content .doc-middleware {
  font-weight: 800;
}

.doc-content code {
  font-weight: 800;
}

.doc-content a {
  font-weight: 800;
  color: #444;
}
/* Elements - End */






body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.base {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/img_bg_pattern.png);
  background-color: #fafbfd;
}

.navbar-inverse {
  border-bottom: 1px solid darkgray;
	background-image: url(/jumbotron_bg.png); background-size: 100% auto;
}

.navbar-container, .navbar-collapse {
  font-size: 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.doc {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.doc-nav {
  padding-top: 50px;
}

  .doc-description {
  	vertical-align: middle;
 	border-color: black;	
	padding-top: 0;
  }

  .doc-description:hover {
    cursor: pointer;
  }

    .doc-description > h4 {
      margin-top: 0px;
    }

    .doc-description > p {
      font-size: 16px;
    }

  .doc-nav-list {
    list-style-type: none;
    color: #555;
    padding-left: 25px;
    padding-top: 50px;
  }

    .doc-nav-list li {
      margin-top: 2px;
      padding: 10px;
    }

      .doc-nav-list > li > a {
        background-color: transparent;
        color: #555;
        font-size: 16px;
        text-decoration: none;
      }

      .doc-nav-list > li:hover > a:hover {
        cursor: pointer;
        color: #333;
        font-weight: bold;
      }

      .doc-nav-list > li:hover > a:hover:before {
        content: "";
        display: block;
        position: absolute;
        margin-left: 0px;
        left: 0;
        width: 4px;
        height: 18px;
        background-color: #333;
      }

      .doc-nav-list > li.active > a {
        cursor: pointer;
        color: #333;
        font-weight: bold;
      }

      .doc-nav-list > li.active > a:before {
        content: "";
        display: block;
        position: absolute;
        margin-left: 0px;
        left: 0;
        width: 4px;
        height: 18px;
        background-color: #333;
      }

      .doc-nav-list > li.scrolled > a.scrolled {
        cursor: pointer;
        color: #333;
        font-weight: bold;
      }

      .doc-nav-list > li.scrolled > a.scrolled:before {
        content: "";
        display: block;
        position: absolute;
        margin-left: 0px;
        left: 0;
        width: 4px;
        height: 18px;
        background-color: #333;
      }


      .doc-nav-list > li:hover > .doc-nav-sub-list {
        /* display: block; */
      }

      .doc-nav-list > li.active > .doc-nav-sub-list {
        display: block;
      }

      .doc-nav-list > li.scrolled > .doc-nav-sub-list {
        display: block;
      }

      .doc-nav-sub-list {
        display: none;
        list-style-type: none;
        color: #555;
        padding-left: 10px;
        padding-top: 0px;
      }

        .doc-nav-sub-list li {
          padding-top: 5px;
          padding-bottom: 0px;
        }

        .doc-nav-sub-list > li > a {
          background-color: transparent;
          color: #555;
          font-size: 14.5px;
          text-decoration: none;
        }

        .doc-nav-sub-list > li:hover > a:hover {
          cursor: pointer;
          color: #333;
          font-weight: bold;
        }

        .doc-nav-sub-list > li:hover > a:hover:before {
          content: "";
          display: block;
          position: absolute;
          margin-left: 15px;
          left: 0;
          width: 4px;
          height: 18px;
          background-color: #333;
        }

        .doc-nav-sub-list > li.active > a {
          cursor: pointer;
          color: #333;
          font-weight: bold;
        }

        .doc-nav-sub-list > li.active > a:before {
          content: "";
          display: block;
          position: absolute;
          margin-left: 15px;
          left: 0;
          width: 4px;
          height: 18px;
          background-color: #333;
        }

        .doc-nav-sub-list > li.scrolled > a.scrolled {
          cursor: pointer;
          color: #333;
          font-weight: bold;
        }

        .doc-nav-sub-list > li.scrolled > a.scrolled:before {
          content: "";
          display: block;
          position: absolute;
          margin-left: 15px;
          left: 0;
          width: 4px;
          height: 18px;
          background-color: #333;
        }

.doc-content {
  background-color: #FFFFFF;
  padding-top: 50px;
	padding-left: 50px;
}

  .doc-content .doc-h3 {
    margin-top: -80px;
    padding-top: 100px;
    margin-bottom: 10px;
  }
  
  .doc-content .doc-divider {
  	border-top: 1px solid #ccc;
  }

  .doc-content .doc-h4 {
    margin-top: -80px;
    padding-top: 100px;
    margin-bottom: 10px;
  }

	.doc-content .doc-well {
		background-color: #fafbfd;
		margin-bottom: 30px;
	}

	.doc-content .p-end {
		margin-bottom: 60px;
	}

	.doc-content .section-end {
		margin-bottom: 120px;
	}
	
	.doc-content .doc-end {
		margin-bottom: 240px;
	}

.after {
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  position: absolute;
  background-color: #FFFFFF;
  z-index: -1;
}

/*
footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
*/
